/* Animated multi-color gradient ring */
@keyframes ring-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.ring-animation {
  position: relative;
  border-radius: 1rem;
  padding: 4px; /* ring thickness */
  background: linear-gradient(
    270deg,
    #000428,
    #004e92,
    #00c6ff,
    #6a11cb,
    #ff416c,
    #fbc2eb,
    #000428
  );
  background-size: 600% 600%;
  animation: ring-move 8s ease infinite;
}

.ring-animation > * {
  border-radius: 0.75rem;
  background-color: white;
  height: 100%;
  width: 100%;
}
